/*.crf
/*.d
/*.o
/*.__i
/*.lst
/*.map
/*.uvopt
MyDrone.uvguix.luzh
/YT32B1_STM32F103_demo.uvguix.Ada51
/DebugConfig
/Output
.vs
/VisualGDB/Debug/Basic/adc/*.dep
/VisualGDB/Debug/Basic/adc/*.rsp
/VisualGDB/Debug/Basic/adc/*.o
/VisualGDB/Debug/Basic/delay/*.dep
/VisualGDB/Debug/Basic/delay/*.rsp
/VisualGDB/Debug/Basic/delay/*.o
/VisualGDB/Debug/Basic/i2c/*.dep
/VisualGDB/Debug/Basic/i2c/*.rsp
/VisualGDB/Debug/Basic/i2c/*.o
/VisualGDB/Debug/Basic/pwm/*.dep
/VisualGDB/Debug/Basic/pwm/*.rsp
/VisualGDB/Debug/Basic/pwm/*.o
/VisualGDB/Debug/Basic/rtc/*.dep
/VisualGDB/Debug/Basic/rtc/*.rsp
/VisualGDB/Debug/Basic/rtc/*.o
/VisualGDB/Debug/Basic/spi/*.dep
/VisualGDB/Debug/Basic/spi/*.rsp
/VisualGDB/Debug/Basic/spi/*.o
/VisualGDB/Debug/Basic/sys/*.dep
/VisualGDB/Debug/Basic/sys/*.rsp
/VisualGDB/Debug/Basic/sys/*.o
/VisualGDB/Debug/Basic/usart/*.dep
/VisualGDB/Debug/Basic/usart/*.rsp
/VisualGDB/Debug/Basic/usart/*.o
/VisualGDB/Debug/Control/*.dep
/VisualGDB/Debug/Control/*.rsp
/VisualGDB/Debug/Control/*.o
/VisualGDB/Debug/Hardware/BMP280/*.dep
/VisualGDB/Debug/Hardware/BMP280/*.rsp
/VisualGDB/Debug/Hardware/BMP280/*.o
/VisualGDB/Debug/Hardware/BT/*.dep
/VisualGDB/Debug/Hardware/BT/*.rsp
/VisualGDB/Debug/Hardware/BT/*.o
/VisualGDB/Debug/Hardware/DMP/*.dep
/VisualGDB/Debug/Hardware/DMP/*.rsp
/VisualGDB/Debug/Hardware/DMP/*.o
/VisualGDB/Debug/Hardware/MPU6050/*.dep
/VisualGDB/Debug/Hardware/MPU6050/*.rsp
/VisualGDB/Debug/Hardware/MPU6050/*.o
/VisualGDB/Debug/Hardware/Motor/*.dep
/VisualGDB/Debug/Hardware/Motor/*.rsp
/VisualGDB/Debug/Hardware/Motor/*.o
/VisualGDB/Debug/Hardware/NRF24L01/*.dep
/VisualGDB/Debug/Hardware/NRF24L01/*.rsp
/VisualGDB/Debug/Hardware/NRF24L01/*.o
/VisualGDB/Debug/*.dep
/VisualGDB/Debug/*.rsp
/VisualGDB/Debug/*.o
/VisualGDB/Debug/*.log
/VisualGDB/Debug/*.alldeps
/VisualGDB/Debug/*.bin
/VisualGDB/Debug/*.hex
/VisualGDB/Debug/*.progstat
/VisualGDB/Debug/User/*.dep
/VisualGDB/Debug/User/*.rsp
/VisualGDB/Debug/User/*.o
/VisualGDB/Debug/__BSP_ROOT__/STM32F1xxxx/CMSIS_StdPeriph/CM3/CoreSupport/*.dep
/VisualGDB/Debug/__BSP_ROOT__/STM32F1xxxx/CMSIS_StdPeriph/CM3/CoreSupport/*.rsp
/VisualGDB/Debug/__BSP_ROOT__/STM32F1xxxx/CMSIS_StdPeriph/CM3/CoreSupport/*.o
/VisualGDB/Debug/__BSP_ROOT__/STM32F1xxxx/STM32F10x_StdPeriph_Driver/src/*.dep
/VisualGDB/Debug/__BSP_ROOT__/STM32F1xxxx/STM32F10x_StdPeriph_Driver/src/*.rsp
/VisualGDB/Debug/__BSP_ROOT__/STM32F1xxxx/STM32F10x_StdPeriph_Driver/src/*.o
/VisualGDB/Debug/__BSP_ROOT__/STM32F1xxxx/StartupFiles/*.dep
/VisualGDB/Debug/__BSP_ROOT__/STM32F1xxxx/StartupFiles/*.rsp
/VisualGDB/Debug/__BSP_ROOT__/STM32F1xxxx/StartupFiles/*.o
/VisualGDB/Debug/__LOCALAPPDATA__/VisualGDB/EmbeddedEFPs/Profiler/*.dep
/VisualGDB/Debug/__LOCALAPPDATA__/VisualGDB/EmbeddedEFPs/Profiler/*.rsp
/VisualGDB/Debug/__LOCALAPPDATA__/VisualGDB/EmbeddedEFPs/Profiler/*.o
/.visualgdb/VisualGDBCache/MyDrone-Debug
/VisualGDB
/1-STM32F10x-英文参考手册.pdf
/stm32.props
/stm32.xml
/惯性导航_秦永元.pdf
