<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rfstar.kevin.main">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.rfstar.kevin.app.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="WelcomActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rfstar.kevin.main.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rfstar.kevin.main.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.rfstar.kevin.main.AboutActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="SendDataActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ReceivedataActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PWMActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ADC_Activity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="com.rfstar.kevin.service.RFStarBLEService"
            android:enabled="true"></service>

        <activity
            android:name=".BatteryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TurnimingOutputActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LevelCountingPulseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PortTimingEventsConfigPortsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PortTimingEventsConfigEventsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PortTimingEventsConfigActionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RssiActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DeviceInformationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Programmable8Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ModuleParameterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AntiHiJackingKeyActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LocationAutoNotify"
            android:screenOrientation="portrait" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>
        <!-- http://lbsyun.baidu.com/apiconsole/key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mBzxX6yBZvETnFLhLstY2YoqHSx4YxaC" />

        <activity android:name=".PassthroughActivity"
                  android:screenOrientation="portrait"></activity>
    </application>

</manifest>